<div class="col-lg-3 col-sm-12 adventurer">
  <h3><%= t('stories.read.adventurer_sheet') %></h3>
  <p><%= t('stories.read.name') %>: <span id="adventurer_name"><%= @adventurer.name %></span></p>
  <p><%= t('stories.read.skill') %>: <span id="adventurer_skill"><%= @adventurer.skill %></span>
    <div class="progress">
      <div class="progress-bar progress-bar-success" id="adventurer_skill_bar" role="progressbar" aria-valuenow="<%= @adventurer.skill %>" aria-valuemin="0" aria-valuemax="12" style="width: <%= (@adventurer.skill / 12.0) * 100.to_i %>%;">
      </div>
    </div>
  </p>
  <p><%= t('stories.read.energy') %>: <span id="adventurer_energy"><%= @adventurer.energy %></span>
    <div class="progress">
      <div class="progress-bar progress-bar-success" id="adventurer_energy_bar" role="progressbar" aria-valuenow="<%= @adventurer.energy %>" aria-valuemin="0" aria-valuemax="24" style="width: <%= (@adventurer.energy / 24.0) * 100.to_i %>%;">
      </div>
    </div>
  </p>
  <p><%= t('stories.read.luck') %>: <span id="adventurer_luck"><%= @adventurer.luck %></span>
    <div class="progress">
      <div class="progress-bar progress-bar-success" id="adventurer_luck_bar" role="progressbar" aria-valuenow="<%= @adventurer.luck %>" aria-valuemin="0" aria-valuemax="24" style="width: <%= (@adventurer.luck / 12.0) * 100.to_i %>%;">
      </div>
    </div>
  </p>
  <p><%= t('stories.read.gold') %>: <span id="adventurer_gold"><%= @adventurer.gold %></span></p>
  <% if @adventurers_items.present? %>
    <h3><%= t('stories.read.adventurer_items') %></h3>
    <% @adventurers_items.each do |item| %>
      <% if item.item.usable %>
        <% if item.quantity > 0 %>
          <p>
            <%= link_to item.item.name, "javascript:;", id: "#{item.item.name.parameterize.underscore}_item", data: {item_id: "#{item.item.id}",attribute: "#{item.item.attr}", modifier: "#{item.item.modifier}"}, class: "usable-item" %> 
            - <span id="quantity"><%= item.quantity %></span>
          </p>
        <% else %>
          <p>
            <strike><%= item.item.name %></strike> - 
            <span id="quantity"><%= item.quantity %></span>
          </p>
        <% end %>
      <% else %>
        <% if item.status == 1 %>
          <p>
            <%= item.item.name %> - key item
          </p>
        <% else %>
          <p>
            <strike><%= item.item.name %> - key item</strike>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>