<div class="col-lg-3 col-sm-12 adventurer">
  <h3>Adventurer sheet</h3>
  <p>Name: <span id="adventurer_name"><%= @adventurer.name %></span></p>
  <p>Skill: <span id="adventurer_skill"><%= @adventurer.skill %></span></p>
  <p>Energy: <span id="adventurer_energy"><%= @adventurer.energy %></span></p>
  <p>Luck: <span id="adventurer_luck"><%= @adventurer.luck %></span></p>
  <p>Gold: <span id="adventurer_gold"><%= @adventurer.gold %></span></p>
  <% if @adventurers_items.present? %>
    <h3>Adventurer Items</h3>
    <% @adventurers_items.each do |item| %>
      <% if item.item.usable %>
        <% if item.status == 1 %>
          <p>
            <%= link_to item.item.name, "javascript:;", id: "#{item.item.name}-item", data: {item_id: "#{item.item.id}",attribute: "#{item.item.attr}", modifier: "#{item.item.modifier}"}, class: "usable-item" %>
          </p>
        <% else %>
          <p>
            <strike><%= item.item.name %></strike>
          </p>
        <% end %>
      <% else %>
        <p>
          <%= item.item.name %> - not usable
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>