<div class="col-lg-3 col-sm-12 adventurer">
  <h3><%= t('stories.read.adventurer_sheet') %></h3>
  <p><%= t('stories.read.name') %>: <span id="adventurer_name"><%= @adventurer.name %></span></p>
  <p><%= t('stories.read.skill') %>: <span id="adventurer_skill"><%= @adventurer.skill %></span></p>
  <p><%= t('stories.read.energy') %>: <span id="adventurer_energy"><%= @adventurer.energy %></span></p>
  <p><%= t('stories.read.luck') %>: <span id="adventurer_luck"><%= @adventurer.luck %></span></p>
  <p><%= t('stories.read.gold') %>: <span id="adventurer_gold"><%= @adventurer.gold %></span></p>
  <% if @adventurers_items.present? %>
    <h3><%= t('stories.read.adventurer_items') %></h3>
    <% @adventurers_items.each do |item| %>
      <% if item.item.usable %>
        <% if item.status == 1 %>
          <p>
            <%= link_to item.item.name, "javascript:;", id: "#{item.item.name.parameterize.underscore}_item", data: {item_id: "#{item.item.id}",attribute: "#{item.item.attr}", modifier: "#{item.item.modifier}"}, class: "usable-item" %>
          </p>
        <% else %>
          <p>
            <strike><%= item.item.name %></strike>
          </p>
        <% end %>
      <% else %>
        <% if item.status == 1 %>
          <p>
            <%= item.item.name %> - not usable
          </p>
        <% else %>
          <p>
            <strike><%= item.item.name %> - not usable</strike>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>