<div class="container">
  <div class="row profile">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h1><%= @user.name %></h1>
      <h2><%= t "profile.autor_title" %></h2>
      <div class="about_me">
        <%= simple_format @user.about_me %>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="profile-tabs">
      <ul>
        <% if @user == current_user %>
          <li><a href="#tabs-1"><%= t "profile.my_stories" %></a></li>
        <% else %>
          <li><a href="#tabs-1"><%= t "profile.stories" %></a></li>
        <% end %>
        <li><a href="#tabs-2"><%= t "profile.favourites" %></a></li>
      </ul>
      <div id="tabs-1">
        <% if @user == current_user %>
          <h2><%= t "profile.my_stories" %></h2>
        <% else %>
          <h2><%= t "profile.stories" %></h2>
        <% end %>

        <% if @stories.present? %>
          <% @stories.each do |story| %>
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h3><%= story.title %> - by <%= story.user.name %></h3>
                  <%= image_tag story.cover(:index_cover), class: "img-responsive" %>
                  <div class="actions">
                    <div class="row">
                      <%= link_to story_show_path(story), class: 'btn btn-primary btn-action' do %>
                        <i class="fa fa-play"></i> <%= t('actions.read') %>
                      <% end %>
                    </div>
                    <div class="row">
                      <%= link_to edit_story_path(story), class: "btn btn-primary btn-action" do %>
                        <i class="fa fa-pencil-square-o"></i> <%= t('actions.edit') %>
                      <% end if story.user == current_user %>
                    </div>
                    <div class="row">
                      <%= link_to story, class: "btn btn-danger btn-action", data: {confirm: t("are_you_sure")}, :method => :delete do %>
                        <i class="fa fa-trash-o"></i> <%= t('actions.destroy') %>
                      <% end if story.user == current_user %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                <div class="resume">
                  <p>
                    <%= simple_format story.resume %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p><%= t('stories.index.no_stories') %></p>
        <% end %>
      </div>
      <div id="tabs-2">
        <h2><%= t "profile.favourites" %></h2>

        <% @favorites.each do |favorite| %>
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div>
                <h3><%= favorite.title %> - by <%= link_to favorite.user.name, profile_path(favorite.user) %></h3>
                <%= image_tag favorite.cover(:index_cover), class: "img-responsive" %>
                <div class="actions">
                  <div class="row">
                    <%= link_to story_show_path(favorite), class: 'btn btn-primary btn-action' do %>
                      <i class="fa fa-play"></i> <%= t('actions.read') %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="resume">
                <p>
                  <%= simple_format favorite.resume %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#profile-tabs").tabs();
  });
</script>