<% if @chapter.monsters.present? %>
  <script type="text/javascript">
    $(document).ready(function() {

      $("#combat").click(function() {
        var result = "";
        var finish;
        var morreu = false;
        var adventurer_skill = <%= @adventurer.skill %>;
        var adventurer_energy = <%= @adventurer.energy %>;
        var adventurer_luck = <%= @adventurer.luck %>;

        <% @chapter.monsters.each do |monster| %>
          var <%= monster.name.parameterize.underscore %>_skill = <%= monster.skill %>;
          var <%= monster.name.parameterize.underscore %>_energy = <%= monster.energy %>;

          finish = false;

          while (!finish) {
            var enemyDice1 = 1 + Math.floor(Math.random()*6);
            var enemyDice2 = 1 + Math.floor(Math.random()*6);
            var enemyAttackPower = enemyDice1 + enemyDice2 + <%= monster.name.parameterize.underscore %>_skill;
            var advDice1 = 1 + Math.floor(Math.random()*6);
            var advDice2 = 1 + Math.floor(Math.random()*6);
            var adventurerAttackPower = advDice1 + advDice2 + adventurer_skill;

            if (enemyAttackPower > adventurerAttackPower) {
              result += "<p>"+ "<%= @adventurer.name %> <%= t('stories.read.attack_power') %> - "+ advDice1 + " + " + advDice2 + " + " + adventurer_skill + " = "+ adventurerAttackPower + "<strong><br>" + "<%= monster.name %> <%= t('stories.read.attack_power') %> - "+ enemyDice1 + " + " + enemyDice2 + " + " + <%= monster.name.parameterize.underscore %>_skill + " = " + enemyAttackPower + "</strong></p><hr>";
              adventurer_energy -= 2;
              if (adventurer_energy < 1) {
                finish = true;
                morreu = true;
                result += "<p><%= t('stories.read.you_died') %></p>";
                $("#combat-result").html(result);
                return;
              } else if (<%= monster.name.parameterize.underscore %>_energy < 1) {
                finish = true;
                result += "<p><%= monster.name %> <%= t('stories.read.died') %></p>";
              }
            } else if (enemyAttackPower < adventurerAttackPower) {
              result += "<p><strong>"+ "<%= @adventurer.name %> <%= t('stories.read.attack_power') %> - "+ advDice1 + " + " + advDice2 + " + " + adventurer_skill + " = "+ adventurerAttackPower + "</strong> <i class='fa fa-check fa-1'></i><br>" + "<%= monster.name %> <%= t('stories.read.attack_power') %> - "+ enemyDice1 + " + " + enemyDice2 + " + " + <%= monster.name.parameterize.underscore %>_skill + " = " + enemyAttackPower + "</p><hr>";
              <%= monster.name.parameterize.underscore %>_energy -= 2;
              if (adventurer_energy < 1) {
                finish = true;
                morreu = true;
                result += "<p><%= t('stories.read.you_died') %></p>";
                $("#combat-result").html(result);
                return;
              } else if (<%= monster.name.parameterize.underscore %>_energy < 1) {
                finish = true;
                result += "<p><%= monster.name %> <%= t('stories.read.died') %></p>";
              }
            }
          }
        <% end %>
        $("#combat-result").html(result);
        $("#adventurer_energy").html(adventurer_energy);
        if (!morreu) {
          $('#chapter-buttons').children().find('a').removeClass('disabled');
        }
        $("#combat").addClass('disabled');

        $.ajax({
          url: "/adventurers/update_adventurer_status?adventurer_skill="+adventurer_skill+"&adventurer_energy="+adventurer_energy+"&adventurer_luck="+adventurer_luck,
          type: 'PUT',
          success: function(data) {
            $(".message-container").html("<p class='message'>" + data["message"] + "</p>");
            setTimeout("$('.message').fadeOut()", 3000);
          },
          error: function(response) {
            $(".message-container").html("<p class='message'>" + response["message"] + "</p>");
            setTimeout("$('.message').fadeOut()", 3000);
          }
        });

      });
    });
  </script>
<% end %>