<%= render partial: 'shared/errors' %>

<div class="container">
  <div class="message-container"></div>
  <div class="row">
    <div class="col-lg-12">
      <%# cache @story do %>
        <%= simple_form_for(@story) do |f| %>
          <% if params[:action] == "edit" || params[:action] == "update" %>
            <div class="actions">
              <%= f.submit t('actions.finish_editing'), class: "btn btn-primary" %>
              <%= f.submit t('actions.edit_items'), class: "btn btn-primary" %>
              <%= f.submit t('actions.edit_special_attributes'), class: "btn btn-primary" %>
              <%= f.submit t('actions.graph'), class: "btn btn-primary" %>
              <%= f.submit t('actions.save'), class: "btn btn-primary" %>
              <% f.object.published ? publish_val = t('actions.unpublish') : publish_val = t('actions.publish') %>
              <%= link_to publish_val, "javascript:;", id: "publish", class: "btn btn-primary" %>
            </div>
            <div class="actions">
              <%= f.submit t('actions.five_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.ten_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.twenty_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.fifty_more'), class: "btn btn-primary" %>
            </div>
            <div class="actions">
              <%= f.submit t('actions.five_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.ten_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.twenty_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.fifty_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
            </div>
          <% end %>
          <% if params[:action] == "new" %>
            <div class="field">
              <%= f.input :title, label: t('stories.new.story_title') %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="field">
              <%= f.input :cover, label: t('stories.new.cover') %>
            </div>
            <div class="field">
              <%= f.input :resume, label: t('stories.new.resume'), as: :text, input_html: { rows: 10, style: 'width: 100%', title: t('tooltip.story_resume')} %>
            </div>
            <div class="field">
              <%= f.input :prelude, label: t('stories.new.prelude'), as: :text, input_html: { rows: 10, style: 'width: 100%', title: t('tooltip.story_prelude') } %>
            </div>
            <div class="field">
              <%= f.input :chapter_numbers, label: t('stories.new.chapter_numbers'),
                collection: chapter_numbers, prompt: "select number of chapters" %>
            </div>

          <% elsif params[:action] == "edit" || params[:action] == "update" %>
            <input type="hidden" id="story_id" value="<%= @story.id %>" />

            <div id="tabs">
              <ul>
                <li><a href="#tabs-1"><%= t('tabs.chapters') %></a></li>
                <li><a href="#tabs-2"><%= t('tabs.story') %></a></li>
              </ul>
              <div id="tabs-1">
                <div id="wrapper"> <!-- wrapper para accordion -->
                  <%= f.simple_fields_for :chapters, @chapters do |builder| %>
                    <% cache builder.object do %>
                      <%= render partial: "/chapters/chapters_fields", :locals => {:f => builder} %>
                    <% end %>
                  <% end %>
                  <br/>
                </div>
              </div>
              <div id="tabs-2">
                <div class="field">
                  <%= f.input :title %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
                <div class="field">
                  <%= f.input :cover, input_html: {onchange: "validateFiles(this);"}, data: {max_file_size: 300.kilobytes} %>
                </div>
                <% if f.object.cover.blank? %>
                  <%= image_tag 'no_image_thumbnail.png' %>
                <% else %>
                  Current image: <%= image_tag f.object.cover(:thumbnail) %>
                <% end %>
                <div class="field">
                  <%= f.input :resume, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
                </div>
                <div class="field">
                  <%= f.input :prelude, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
                </div>
              </div>
            </div><br/>
          <% end %>

          <% if params[:action] == "new" %>
            <div class="actions">
              <%= f.submit t('actions.next'), class: "btn btn-primary" %>
            </div>
          <% elsif params[:action] == "edit" || params[:action] == "update" %>
            <div class="actions">
              <%= f.submit t('actions.finish_editing'), class: "btn btn-primary" %>
              <%= f.submit t('actions.edit_items'), class: "btn btn-primary" %>
              <%= f.submit t('actions.edit_special_attributes'), class: "btn btn-primary" %>
              <%= f.submit t('actions.graph'), class: "btn btn-primary" %>
              <%= f.submit t('actions.save'), class: "btn btn-primary" %>
              <% f.object.published ? publish_val = t('actions.unpublish') : publish_val = t('actions.publish') %>
              <%= link_to publish_val, "javascript:;", id: "publish", class: "btn btn-primary" %>
            </div>
            <div class="actions">
              <%= f.submit t('actions.five_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.ten_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.twenty_more'), class: "btn btn-primary" %>
              <%= f.submit t('actions.fifty_more'), class: "btn btn-primary" %>
            </div>
            <div class="actions">
              <%= f.submit t('actions.five_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.ten_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.twenty_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
              <%= f.submit t('actions.fifty_less'), class: "btn btn-primary", data: {confirm: t('actions.messages.chapter_delete_message')} %>
            </div>
          <% end %>
        <% end %>
      <%# end %>
    </div>
  </div>
</div>
<%= render partial: 'publish_script' %>
