<%= simple_form_for(@story) do |f| %>
  <div class="actions">
    <% if params[:action] == "edit" %>
      <%= f.submit "Finish Editing", class: "btn btn-primary" %>
      <%= f.submit "Edit Items", class: "btn btn-primary" %>
      <%= f.submit "Edit Special Attributes", class: "btn btn-primary" %>
      <%= f.submit "Graph", class: "btn btn-primary" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if params[:action] == "new" %>
    <div class="field">
      <%= f.input :title %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="field">
      <%= f.input :cover, input_html: {onchange: "validateFiles(this);"}, data: {max_file_size: 300.kilobytes} %>
    </div>
    <div class="field">
      <%= f.input :resume, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
    </div>
    <div class="field">
      <%= f.input :prelude, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
    </div>
    <div class="field">
      <%= f.input :chapter_numbers, as: :string %>
    </div>

  <% elsif params[:action] == "edit" %>
    <input type="hidden" id="story_id" value="<%= @story.id %>" />

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Chapters</a></li>
        <li><a href="#tabs-2">Story</a></li>
      </ul>
      <div id="tabs-1">
        <div id="wrapper"> <!-- wrapper para accordion -->
          <%= f.simple_fields_for :chapters do |builder| %>
            <%= render "chapters_fields", f: builder %>
          <% end %>
          <p>
            <%= link_to_add_fields "Add chapters", f, :chapters, "chapters" %>
          </p>
          <br/>
        </div>
      </div>
      <div id="tabs-2">
        <div class="field">
          <%= f.input :title %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
        <div class="field">
          <%= f.input :cover, input_html: {onchange: "validateFiles(this);"}, data: {max_file_size: 300.kilobytes} %>
        </div>
        <% if f.object.cover.blank? %>
          No current image
        <% else %>
          Current image: <%= image_tag f.object.cover_url(:thumb_cover).to_s %>
        <% end %>
        <div class="field">
          <%= f.input :resume, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
        </div>
        <div class="field">
          <%= f.input :prelude, as: :text, input_html: { rows: 10, style: 'width: 100%' } %>
        </div>
      </div>
    </div><br/>
  <% end %>

  <div class="actions">
    <% if params[:action] == "new" %>
      <%= f.submit "Next", class: "btn btn-primary" %>
    <% elsif params[:action] == "edit" %>
      <%= f.submit "Finish Editing", class: "btn btn-primary" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>


