<script type="text/javascript">
  $(document).ready(function() {
    var sigRoot = document.getElementById('sig');
    var sigInst = sigma.init(sigRoot).drawingProperties({
      defaultLabelColor: '#ccc',
      defaultLabelSize: 10,
      font: 'Arial',
      edgeColor: 'source',
      defaultEdgeType: 'curve',
      defaultEdgeArrow: 'target',
      labelThreshold: 0
    }).graphProperties({
      minNodeSize: 0.5,
      maxNodeSize: 5,
      maxEdgeSize: 3
    }).mouseProperties({
      maxRatio: 32
    });

<% color1 = '#ff0000' %>
<% color2 = '#00ff00' %>
<% color3 = '#ffff00' %>
<% i = 0 %>
<% j = 0 %>

<% @chapters.each do |chapter| %>
      sigInst.addNode('cap<%= chapter.reference %>',{
        label: 'cap <%= chapter.reference %>',
        color: '<%= j%2==0 ? color1 : color2 %>',
        x: <%= i %>,
        y: <%= j%2==0 ? i*-1 : i %>
      }).draw();
  <% i = i + 0.1 %>
  <% j=j+1 %>
<% end %>

    console.log(sigInst);

<% @chapters.each do |chapter| %>
  <% chapter.decisions.each do |decision| %>
        <% if Chapter.exist(decision.destiny_num,@story.id) %>
          sigInst.addEdge('cap<%= chapter.reference %>_cap<%= decision.destiny_num %>','cap<%= chapter.reference %>','cap<%= decision.destiny_num %>').draw();
        <% end %>
  <% end %>
<% end %>


<%#*sigInst.addEdge('cap1_cap2','cap1','cap2').draw();%>
<%#*sigInst.addEdge('cap1_cap3','cap1','cap3').draw();%>
<%#*sigInst.addEdge('cap2_cap4','cap2','cap4').draw();%>
<%#*sigInst.addEdge('cap2_cap5','cap2','cap5').draw();%>
<%#*sigInst.addEdge('cap2_cap30','cap2','cap30').draw();%>
<%#*});%>

  });
</script>

<div class="sigma" id="sig"></div>
