<%= render partial: "/shared/modal" %>

<div class="container prelude_div">
  <div class="row">
    <div class="col-lg-4">
      <div class="image">
        <%= image_tag @story.cover(:index_cover), class: "img-responsive center" %>
      </div>      
    </div>
    <div class="col-lg-8">
      <h3><%= t('stories.prelude.title') %></h3>

      <% if current_user && @story.user != current_user %>
        <% if current_user.favorites.include?(@story) %>
          <%= link_to "", favorite_story_path(@story, type: "unfavorite"), method: :put, class: 'btn btn-primary fa fa-star' %>
        <% else %>
          <%= link_to "", favorite_story_path(@story, type: "favorite"), method: :put, class: 'btn btn-primary favorite fa fa-star-o' %>
        <% end %>
      <% end %>

      <div class="resume">
        <% unless @story.resume.empty? %>
          <%= simple_format @story.resume %>
        <% end %>

        <% if current_user and @story.has_adventurer? current_user.adventurers %>
          <%= link_to t('actions.read'), "javascript:;", class: "read btn btn-primary btn-action", data: {continue: true, story_id: @story.slug} %>
        <% else %>
          <%= link_to t('actions.read'), story_prelude_path(@story, new_story: true), class: "btn btn-primary btn-action", data: {continue: false} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Comentários</h2>
      <% @story.comments.each do |comment| %>
        <div class="comment">
          <div class="comment-author">
            <% if comment.user %>
              <p>Autor: <%= link_to comment.user.name, profile_path(comment.user) %></p>
            <% else %>
              <p>Autor: Not found</p>
            <% end %>
          </div>
          <div class="comment-content">
            <p><%= comment.content.gsub(/\n/, '<br/>').html_safe %></p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 comment-form">
      <%= simple_form_for([@story, @story.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.input :content, label: "Novo comentário", input_html: { rows: 10, class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.submit "Criar comentário", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
