<div class="container">
  <h1>Edit items</h1>
  <div class="wrapper">
    <%= simple_form_for(@story) do |f| %>
    <div class="actions">
      <%= f.submit "Finish Editing", class: "btn btn-primary" %>
      <%= f.submit "Edit Chapters", class: "btn btn-primary" %>
      <%= f.submit "Edit Special Attributes", class: "btn btn-primary" %>
      <%= f.submit "Graph", class: "btn btn-primary" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <div>
      <%= f.simple_fields_for :items do |builder| %>
        <%= render partial: "/items/items_fields", :locals => {:f => builder} %>
      <% end %>
      <p>
        <%= link_to_add_fields "Add items", f, :items, "items" %>
      </p>
    </div>
    <% end %>
  </div>  
</div>
