<div class="container">
  <%= render 'shared/navigation' %>

  <h1><%= t('items.edit.title') %></h1>
  <div class="message-container"></div>
  <div class="wrapper">
    <%= simple_form_for(@story) do |f| %>
      <div>
        <%= f.simple_fields_for :items do |builder| %>
          <%= render partial: "/items/items_fields", :locals => {:f => builder} %>
        <% end %>
        <p>
          <%= link_to_add_fields t('items.edit.add_items'), f, :items, "items" %>
        </p>
      </div>

      <div class="actions">
        <%= f.submit t('actions.edit_items'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>
<%= render partial: 'publish_script' %>
