
<%= simple_form_for(@story) do |f| %>

  <%= f.simple_fields_for :special_attributes, @special_attributes do |builder| %>
    <%= render "special_attributes_fields", f: builder %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Special Attributes", f, :special_attributes, "special_attributes" %>
  </p>

  <%= f.submit "Edit Chapters", class: "btn btn-primary" %>
  <%= f.submit "Edit Items", class: "btn btn-primary" %>

<% end %>
