<h3>Graph</h3>

<%= simple_form_for(@story) do |f| %>
  <div id="action">
    <%= f.submit "Finish Editing", class: "btn btn-primary" %>
    <%= f.submit "Edit Chapters", class: "btn btn-primary" %>
    <%= f.submit "Edit Items", class: "btn btn-primary" %>
    <%= f.submit "Edit Special Attributes", class: "btn btn-primary" %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="sigma" id="sig"></div>
<div class="not-used"></div>

<script type="text/javascript">
  $(document).ready(function(){

    $.ajax({
      url: "graph_json?id="+<%= @story.id %>,
      type: "GET",
      dataType: "json",
      success: function(data) {

        s = new sigma({
        graph: data["graph"],
        container: 'sig',
        settings: {
          defaultLabelColor: "fff",
          labelThreshold: 2
        }
        });
        
        $(".not-used").html("<p><strong>Not Used Chapters: "+data["not_used"]+"</strong></p>");
      }
    });
  });
</script>