<h3>Graph</h3>

<%= simple_form_for(@story) do |f| %>
  <div id="action">
    <%= f.submit "Finish Editing", class: "btn btn-primary" %>
    <%= f.submit "Edit Chapters", class: "btn btn-primary" %>
    <%= f.submit "Edit Items", class: "btn btn-primary" %>
    <%= f.submit "Edit Special Attributes", class: "btn btn-primary" %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="sigma" id="sig"></div>
<div class="not-used"></div>

<script type="text/javascript">
  $(document).ready(function(){

    $.ajax({
      url: "graph_json?id="+<%= @story.id %>,
      type: "GET",
      dataType: "json",
      success: function(data) {
        console.log(data["infos"][0][0]);
        console.log(data["infos"][0][1]);
        console.log(data["infos"][0][2]);
        if (data["valid"]) {
          var sigRoot = document.getElementById('sig');
          var sigInst = sigma.init(sigRoot).drawingProperties({
            defaultLabelColor: '#ccc',
            defaultLabelSize: 10,
            font: 'Arial',
            edgeColor: 'source',
            defaultEdgeType: 'curve',
            defaultEdgeArrow: 'target',
            labelThreshold: 0
          }).graphProperties({
            minNodeSize: 0.5,
            maxNodeSize: 5,
            maxEdgeSize: 3
          }).mouseProperties({
            maxRatio: 32
          });

          <%#*var j = 0;%>
          <%#*var color = 0%>
          <%#*var color1 = '#ff0000'%>
          <%#*var color2 = '#00ff00'%>
          <%#*var color3 = '#ffff00'%>
          for (var i=0;i<data["references"].length;i++) {
            sigInst.addNode('cap'+data["references"][i], {
              label: 'cap '+data["references"][i],
              color: data["infos"][i][2],
              x: data["infos"][i][0],
              y: data["infos"][i][1]
              <%#*color: color==0 ? color1 : color2,%>
              <%#*x: j,%>
              <%#*y: i%2==0 ? j*(-1) : j%>
            }).draw();
            <%#*j = j + 0.1%>
            <%#*color++;%>
            <%#*if (color==2)%>
              <%#*color = 0;%>
          }

          for (var k=0;k<data["chapter_destinies"].length;k++) {
            if ((data["chapter_destinies"][k].length != 0) && data["valid"][k]) {
              for (var l=1;l<data["chapter_destinies"][k].length;l++) {
                sigInst.addEdge('cap'+data["chapter_destinies"][k][0]+'_cap'+data["chapter_destinies"][k][l], 'cap'+data["chapter_destinies"][k][0], 'cap'+data["chapter_destinies"][k][l]).draw();
              }
            }
          }
        }
        $(".not-used").html("<p><strong>Not Used Chapters: "+data["not_used"]+"</strong></p>");
      }
    });
  });
</script>