<div class="container">
  <h1><%= t('graph.title') %></h1>
  <div class="message-container"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper">
        <%= simple_form_for(@story) do |f| %>
          <div class="actions">
            <%= f.submit t('actions.finish_editing'), class: "btn btn-primary" %>
            <%= f.submit t('actions.edit_chapters'), class: "btn btn-primary" %>
            <%= f.submit t('actions.edit_items'), class: "btn btn-primary" %>
            <%= f.submit t('actions.save'), class: "btn btn-primary" %>
            <% f.object.published ? publish_val = t('actions.unpublish') : publish_val = t('actions.publish') %>
            <%= link_to publish_val, "javascript:;", id: "publish", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="sigma" id="sig"></div>
          <div class="col-lg-12">
            <div class="not-used"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $.ajax({
      url: "graph_json?id="+<%= @story.id %>,
      type: "GET",
      dataType: "json",
      success: function(data) {

        if (data["valid"]) {

          // writting nodes
          var getNodes = []
          for (var i=0;i<data["references"].length;i++) {
            var tempData = {}
            var temp = {}
            temp["id"] = "Cap " + data["references"][i];
            tempData["data"] = temp;
            tempData["position"] = {
               "x": data["infos"][i][0]*500,
               "y": data["infos"][i][1]*500
            }
            getNodes.push(tempData);
          }

          // getting edges
          var getEdges = []
          for (var i=0;i<data["chapter_destinies"].length;i++) {
            var node = data["chapter_destinies"][i][0];
            var chapters = data["chapter_destinies"][i];
            for (var j=1;j<chapters.length;j++) {
              var temp = {}
              var tempData = {}
              temp["id"] = node + "-" + chapters[j]
              temp["weight"] = 10;
              temp["source"] = "Cap " + node;
              temp["target"] = "Cap " + chapters[j]
              tempData["data"] = temp;
              getEdges.push(tempData);
            }
          }

          var elementsJson = {
            nodes: getNodes,
            edges: getEdges
          }

          $('#sig').cytoscape({
            style: cytoscape.stylesheet()
              .selector('node')
                .css({
                  'background-color': '#FFD700',
                  'width': 'mapData(baz, 0, 10, 10, 40)',
                  'height': 'mapData(baz, 0, 10, 10, 40)',
                  'content': 'data(id)',
                  'color': '#FFFFFF',
                  'font-size': '15px'
                })
              .selector('edge')
                .css({
                  'line-color': '#FFD700',
                  'target-arrow-color': '#FFD700',
                  'width': 2,
                  'target-arrow-shape': 'triangle',
                  'opacity': 0.8
                })
              .selector(':selected')
                .css({
                  'background-color': '#FF0000',
                  'line-color': '#FF0000',
                  'target-arrow-color': '#FF0000',
                  'source-arrow-color': '#FF0000',
                  'opacity': 1
                })
              .selector('.faded')
                .css({
                  'opacity': 0.25,
                  'text-opacity': 0
                }),
            
            elements: elementsJson,
            
            layout: {
              name: 'preset',
              padding: 10
            },
            
            ready: function(){
              // ready 1
            }
          });
        
          // writting not used chapters
          var notUsed = "<h3>"+ "<%= t('graph.not_used_chapters') %>" +"</h3>";
          notUsed += "<p>";
          for (i=0;i<data["not_used"].length;i++) {
            if (i%10==0 && i!=0) {
              notUsed += data["not_used"][i] + "<br>";
            } else {
              notUsed += data["not_used"][i] + ", ";
            }
          }
          notUsed += "</p>";
          $(".not-used").html(notUsed);
        }
      }
    });
  });
</script>

<%= render partial: 'publish_script' %>