<h1>Listing stories</h1>

<% if @stories.empty? %>
  <p>No result.</p>
<% else %>
  <table>
  <tr>
    <th>Title</th>
    <th>Resume</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.title %></td>
      <td><%= story.resume %></td>
      <td><%= link_to 'Show', story if params[:search].nil? %></td>
      <td><%= link_to 'Read', story_prelude_path(story) %></td>
      <td><%= link_to 'Edit', edit_story_path(story) if params[:search].nil? %></td>
      <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete if params[:search].nil? %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
