<h1>Stories</h1>

<div class="stories">
  <% if @stories.empty? %>
    <p>No stories.</p>
  <% else %>

    <% @stories.each do |story| %>

      <div class="story_div">
        <h3><%= story.title %></h3>
        <div class="image">
          <%= image_tag story.cover_url(:index_cover).to_s %>
        </div>
        <div class="prelude">
          <p>
            <%= simple_format story.prelude %>
          </p>
        </div>
      </div>
      <div class="options">
        <p>
          <%= link_to 'Show', story if params[:search].nil? %> /
          <%= link_to 'Read', story_prelude_path(story) %> /
          <%= link_to 'Edit', edit_story_path(story) if params[:search].nil? %> /
          <%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete if params[:search].nil? %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<br />

<%= link_to 'New Story', new_story_path %>
