<div class="container">
  <div class="message-container"></div>
  <div class="row">
    <div class="col-lg-9 col-sm-12 chapter">
      <h3><%= t('stories.read.chapter') %> <%= @chapter.reference %></h3>
      <div class="chapter-image">
        <p>
          <%= image_tag @chapter.image(:normal), class: "img-responsive center-block" if @chapter.image.present? %>
        </p>
      </div>
      <div class="chapter-content">
        <p>
          <%= simple_format @chapter.content %>
        </p>
      </div>
      <% if @chapter.modifiers_shops.present? %>
        <div id="chapter-shop">
          <h3>Comprar?</h3>
          <% @chapter.modifiers_shops.each do |shop| %>
            <p>
              <%= link_to_if(return_real_quantity(shop) > 0, shop.item.name, story_buy_item_path(@story, shop_id: shop.id)) %><br>
              <span class="shop-price">Preço: <%= shop.price %></span><br>
              <span class="shop-qty">Quantidade: <%= return_real_quantity(shop) %></span>
            </p>
          <% end %>
        </div>
      <% end %>
      <% if @chapter.monsters.present? %>
      <hr/>
        <% @chapter.monsters.each do |monster| %>
          <p>
            <%= t('stories.read.monster') %>: <%= monster.name %>
          </p>
          <p>
            <%= t('stories.read.skill') %>: <span id="<%= monster.name %>_skill"><%= monster.skill %></span>
          </p>
          <p>
            <%= t('stories.read.energy') %>: <span id="<%= monster.name %>_energy"><%= monster.energy %></span>
          </p>
          <hr/>
        <% end %>
        <p>
          <%= button_tag t('stories.read.combat'), class: "btn btn-primary", id: "combat" %>
        </p>
        <div id="combat-result"></div>
      <% end %>
      <div id="chapter-buttons">
        <% @chapter.decisions.each do |decision| %>
          <% button_opts = {reference: decision.child.reference, id: @story} unless decision.child.nil? %>
          <% disabled = "disabled" if @chapter.monsters.present? %>
          <% donthave = false %>
          <% donthave = true if decision.item_validator && Adventurer.dont_have_item(@adventurer,decision.item_validator) %>
          <% if decision.item_validator? %>
            <% disabled ||= "disabled" if Adventurer.dont_have_item(@adventurer,decision.item_validator) %>
          <% end %>
          <p>
            <%= link_to  "#{t('stories.read.chapter')} #{decision.child.reference}",
              read_stories_path(button_opts),
              class: "btn btn-primary #{disabled}", data: {donthave: "#{donthave}" } unless decision.child.nil? %>
          </p>
        <% end %>
      </div>
    </div>
    <% if @adventurer.present? %>
      <%= render partial: 'adventurers/adventurer' %>
    <% end %>
  </div>
</div>

<%= render partial: 'combat_script' %>
