<p>
  <h3><%= @story.title %></h3>
</p>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Chapters</a></li>
    <li><a href="#tabs-2">Special Attributes</a></li>
    <li><a href="#tabs-3">Items</a></li>
    <li><a href="#tabs-4">Story</a></li>
    <li><a href="#tabs-5">Graph</a></li>
  </ul>
  <div id="tabs-1">
    <% @chapters.each do |chapter| %>
      <div class="chapter-fields">
        <h3>Chapter <%= chapter.reference %></h3>
        <p>
          Content: <%= simple_format chapter.content %>
        </p>
        <p>
          <%= image_tag chapter.image_url.to_s if chapter.image.present? %>
        </p>
        <% if chapter.decisions.present? %>
          <div class="decision-fields">
            <h3>Decisions</h3>
            <% chapter.decisions.each do |decision| %>
              <p>
                Destiny: <%= decision.destiny_num %>
              </p>
              <hr/>
            <% end %>
          </div>
        <% end %>
        <% if chapter.monsters.present? %>
          <div class="monster-fields">
            <h3>Monsters</h3>
            <% chapter.monsters.each do |monster| %>
              <p>
                Name: <%= monster.name %>
              </p>
              <p>
                Skill: <%= monster.skill %>
              </p>
              <p>
                Energy: <%= monster.energy %>
              </p>
            <% end %>
          </div>
        <% end %>
        <hr/>
      </div><br/>
    <% end %>

  </div>
  <div id="tabs-2">
    <% @special_attributes.each do |special_attribute| %>
      <p>
        Special Attribute: <%= special_attribute.name %>
      </p>
      <hr/>
    <% end %>
  </div>
  <div id="tabs-3">
    <% @items.each do |item| %>
      <p>
        Item: <%= item.name %>
      </p>
      <p>
        Description: <%= item.description %>
      </p>
    <% end %>
    <hr/>
  </div>
  <div id="tabs-4">
    <p>
      <b>Resume:</b>
      <%= @story.resume %>
    </p>

    <p>
      <b>Prelude:</b>
      <%= simple_format @story.prelude %>
    </p>
  </div>
  <div id="tabs-5">
    <div class="sigma" id="sig" >
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $("#tabs").tabs({
      activate: function(event, ui) {
        if (ui.newPanel.attr("id") == "tabs-5") {

          $.ajax({
            url: "graph_json_show?id="+<%= @story.id %>,
            type: "GET",
            dataType: "json",
            success: function(data) {
              if (data["valid"]) {
                var sigRoot = document.getElementById('sig');
                var sigInst = sigma.init(sigRoot).drawingProperties({
                  defaultLabelColor: '#ccc',
                  defaultLabelSize: 10,
                  font: 'Arial',
                  edgeColor: 'source',
                  defaultEdgeType: 'curve',
                  defaultEdgeArrow: 'target',
                  labelThreshold: 0
                }).graphProperties({
                  minNodeSize: 0.5,
                  maxNodeSize: 5,
                  maxEdgeSize: 3
                }).mouseProperties({
                  maxRatio: 32
                });

                <%#*var j = 0;%>
                <%#*var color = 0%>
                <%#*var color1 = '#ff0000'%>
                <%#*var color2 = '#00ff00'%>
                <%#*var color3 = '#ffff00'%>
                for (var i=0;i<data["references"].length;i++) {
                  sigInst.addNode('cap'+data["references"][i], {
                    label: 'cap '+data["references"][i],
                    color: data["infos"][i][2],
                    x: data["infos"][i][0],
                    y: data["infos"][i][1]
                    <%#*color: color==0 ? color1 : color2,%>
                    <%#*x: j,%>
                    <%#*y: i%2==0 ? j*(-1) : j%>
                  }).draw();
                  <%#*j = j + 0.1%>
                  <%#*color++;%>
                  <%#*if (color==2)%>
                    <%#*color = 0;%>
                }

                for (var k=0;k<data["chapter_destinies"].length;k++) {
                  if ((data["chapter_destinies"][k].length != 0) && data["valid"][k]) {
                    for (var l=1;l<data["chapter_destinies"][k].length;l++) {
                      sigInst.addEdge('cap'+data["chapter_destinies"][k][0]+'_cap'+data["chapter_destinies"][k][l], 'cap'+data["chapter_destinies"][k][0], 'cap'+data["chapter_destinies"][k][l]).draw();
                    }
                  }
                }
              }
              
            }
          });

        }
      }
    });

        
  });
</script>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
