<div class="container">
  <p>
    <h3><%= @story.title %></h3>
  </p>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1"><%= t('tabs.chapters') %></a></li>
      <li><a href="#tabs-2"><%= t('tabs.items') %></a></li>
      <li><a href="#tabs-3"><%= t('tabs.story') %></a></li>
      <li><a href="#tabs-4"><%= t('tabs.graph') %></a></li>
    </ul>
    <div id="tabs-1">
      <% @chapters.each do |chapter| %>
        <div class="chapter-fields">
          <h3><%= t('stories.show.chapter') %> <%= chapter.reference %></h3>
          <p>
            <%= t('stories.show.content') %> <%= simple_format chapter.content %>
          </p>
          <p>
            <%= image_tag chapter.image if chapter.image.present? %>
          </p>
          <% if chapter.decisions.present? %>
            <div class="decision-fields">
              <h3><%= t('stories.show.decisions') %></h3>
              <% chapter.decisions.each do |decision| %>
                <p>
                  <%= t('stories.show.destiny') %>: <%= decision.destiny_num %>
                </p>
                <hr/>
              <% end %>
            </div>
          <% end %>
          <% if chapter.monsters.present? %>
            <div class="monster-fields">
              <h3><%= t('stories.show.monsters') %></h3>
              <% chapter.monsters.each do |monster| %>
                <p>
                  <%= t('stories.show.name') %>: <%= monster.name %>
                </p>
                <p>
                  <%= t('stories.show.skill') %>: <%= monster.skill %>
                </p>
                <p>
                  <%= t('stories.show.energy') %>: <%= monster.energy %>
                </p>
              <% end %>
            </div>
          <% end %>
          <hr/>
        </div><br/>
      <% end %>

    </div>
    <div id="tabs-2">
      <% @items.each do |item| %>
        <p>
          <%= t('stories.show.item_name') %>: <%= item.name %>
        </p>
        <p>
          <%= t('stories.show.item_description') %>: <%= item.description %>
        </p>
        <hr>
      <% end %>
      <hr/>
    </div>
    <div id="tabs-3">
      <p>
        <b><%= t('stories.show.story_resume') %>:</b>
        <%= @story.resume %>
      </p>

      <p>
        <b><%= t('stories.show.prelude') %>:</b>
        <%= simple_format @story.prelude %>
      </p>
    </div>
    <div id="tabs-4">
      <div class="sigma" id="sig" >
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      $("#tabs").tabs({
        activate: function(event, ui) {
          if (ui.newPanel.attr("id") == "tabs-4") {

            $.ajax({
              url: "graph_json_show?id="+<%= @story.id %>,
              type: "GET",
              dataType: "json",
              success: function(data) {
                if (data["valid"]) {
                  // writting nodes
                  var getNodes = []
                  for (var i=0;i<data["references"].length;i++) {
                    var tempData = {}
                    var temp = {}
                    temp["id"] = "Cap " + data["references"][i];
                    tempData["data"] = temp;
                    tempData["position"] = {
                       "x": data["infos"][i][0]*500,
                       "y": data["infos"][i][1]*500
                    }
                    getNodes.push(tempData);
                  }

                  // getting edges
                  var getEdges = []
                  for (var i=0;i<data["chapter_destinies"].length;i++) {
                    var tempData = {}
                    var node = data["chapter_destinies"][i][0];
                    var chapters = data["chapter_destinies"][i];
                    for (var j=1;j<chapters.length;j++) {
                      var temp = {}
                      temp["id"] = node + "-" + chapters[j]
                      temp["weight"] = 10;
                      temp["source"] = "Cap " + node;
                      temp["target"] = "Cap " + chapters[j]
                    }
                    tempData["data"] = temp;
                    getEdges.push(tempData);
                  }

                  var elementsJson = {
                    nodes: getNodes,
                    edges: getEdges
                  }

                  console.log(elementsJson);

                  $('#sig').cytoscape({
                    style: cytoscape.stylesheet()
                      .selector('node')
                        .css({
                          'background-color': '#FFD700',
                          'width': 'mapData(baz, 0, 10, 10, 40)',
                          'height': 'mapData(baz, 0, 10, 10, 40)',
                          'content': 'data(id)',
                          'color': '#FFFFFF',
                          'font-size': '15px'
                        })
                      .selector('edge')
                        .css({
                          'line-color': '#FFD700',
                          'target-arrow-color': '#FFD700',
                          'width': 2,
                          'target-arrow-shape': 'triangle',
                          'opacity': 0.8
                        })
                      .selector(':selected')
                        .css({
                          'background-color': '#FF0000',
                          'line-color': '#FF0000',
                          'target-arrow-color': '#FF0000',
                          'source-arrow-color': '#FF0000',
                          'opacity': 1
                        })
                      .selector('.faded')
                        .css({
                          'opacity': 0.25,
                          'text-opacity': 0
                        }),
                    
                    elements: elementsJson,
                    
                    layout: {
                      name: 'preset',
                      padding: 10
                    },
                    
                    ready: function(){
                      // ready 1
                    }
                  });
                }

              }
            });

          }
        }
      });


    });
  </script>
  
</div>
