<div class="modifier-shop-fields">
  <div class="form-group">
    <%= f.label :item_id, t('stories.edit.item') %>
    <%= f.collection_select :item_id, Item.by_story(@story), :id, :name, {prompt: "select an item"}, {class: 'form-control'} %>
    <p class="help-block"><%= t('actions.messages.modifier_shop_hint') %></p>
  </div>
  <div class="form-group">
    <%= f.input :price, label: t('stories.edit.price'),
      collection: quantity, prompt: "select price of item", hint: t('actions.messages.modifier_shop_price_hint'), input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :quantity, label: t('stories.edit.item_quantity'),
      collection: quantity, prompt: "select quantity of item", hint: t('actions.messages.modifier_shop_quantity_hint'), input_html: {class: 'form-control'} %>
  </div>
  <%= link_to_remove_fields t('stories.edit.remove_item'), f, "modifier-shop" %>
</div>