<div class="container">
  <h2><%= t('account.session.title') %></h2>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: t('account.session.email'), :required => false, :autofocus => true %>
      <%= f.input :password, label: t('account.session.password'), :required => false %>
      <%= f.label :remember_me, t('account.session.remember_me') %>
      <%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('account.session.button'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>  
</div>
