<div class="item-fields">
  <%= f.input :name, label: t('items.edit.name') %>
  <%= f.input :description, label: t('items.edit.description'), as: :text, input_html: { rows: 10, cols: 40 } %>
  <%= f.label :usable, t('items.edit.usable_item') %>
  <%= f.check_box :usable, class: "usable-checkbox" %>
  <div class="usable-item-attributes <%= 'visible' if f.object.usable %>">
    <%= f.input :attr, label: t('items.edit.attribute'),
    collection: attributes, prompt: t('items.edit.select_attribute') %>
    <%= f.input :modifier, label: t('items.edit.modifier') %>
  </div>
  <p><%= link_to_remove_fields t('items.edit.remove'), f, "item" %></p>
</div>