<div class="item-fields">
  <div class="form-group">
    <%= f.input :name, label: t('items.edit.name'), hint: t('actions.messages.'), input_html: {class: 'form-control'} %>  
  </div>
  <div class="form-group">
    <%= f.input :description, label: t('items.edit.description'), input_html: { rows: 10, class: 'form-control'}, hint: t('actions.messages.item_description_hint') %>
  </div>
  <div class="form-group">
    <%= f.label :usable, t('items.edit.usable_item') %>
    <%= f.check_box :usable, class: "usable-checkbox" %>
    <p class="help-block"><%= t('actions.messages.item_usable_hint') %></p>
  </div>
  <div id="usable-item" class="usable-item-attributes <%= 'visible' if f.object.usable %>">
    <div class="form-group">
      <%= f.input :attr, label: t('items.edit.attribute'),
      collection: attributes, prompt: t('items.edit.select_attribute'), hint: t('actions.messages.item_usable_attr_hint'), input_html: {class: 'form-control'} %>
      <%= f.input :modifier, label: t('items.edit.modifier'), as: :string, hint: t('actions.messages.item_usable_quantity_hint'), input_html: {class: 'form-control'} %>
    </div>
  </div>
  <p><%= link_to_remove_fields t('items.edit.remove'), f, "item" %></p>
</div>