<%= render partial: "/shared/modal" %>

<div class="header">
  <div class="container">
    <div class="header-content">
      <h1>Dungeon Masters</h1>
    </div>
  </div>
</div>
<div class="features">
  <% unless user_signed_in? %>
    <div class="feature">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <%= image_tag "create_chapters.png", class: "img-responsive" %>
          </div>
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature1') %></h2>
            <p><%= t('custom_pages.description_1') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature feature-odd">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature2') %></h2>
            <p><%= t('custom_pages.description_2') %></p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "create_decisions.png", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <%= image_tag "create_monsters.png", class: "img-responsive" %>
          </div>
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature3') %></h2>
            <p><%= t('custom_pages.description_3') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature feature-odd">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature4') %></h2>
            <p><%= t('custom_pages.description_4') %></p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "create_items.png", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <%= image_tag "create_attributes.png", class: "img-responsive" %>
          </div>
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature5') %></h2>
            <p><%= t('custom_pages.description_5') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature feature-odd">
      <div class="container">
        <div class="row feature-content">
          <div class="col-lg-6">
            <h2><%= t('custom_pages.feature6') %></h2>
            <p><%= t('custom_pages.description_6') %></p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "graph.png", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="feature">
    <div class="container">
      <h3><%= t('custom_pages.last_stories') %></h3>
      <% if @stories.empty? %>
        <p>No stories.</p>
      <% else %>
        <div class="row last-stories">
          <% @stories.each do |story| %>
            <div class="index_stories col-lg-3 col-sm-12">
              <p><%= link_to story.title, story_show_path(story), class: 'read' %></p>
              <%= image_tag story.cover(:thumbnail) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



