<div class="container">
  <div class="story_div">
    <h1>Dungeon Masters</h1>
    <p><%= t('custom_pages.paragraph1') %></p>
    <h2><%= t('custom_pages.feature_title') %></h2>
    <ul>
      <li><%= t('custom_pages.feature1') %></li>
      <li><%= t('custom_pages.feature2') %></li>
      <li><%= t('custom_pages.feature3') %></li>
      <li><%= t('custom_pages.feature4') %></li>
      <li><%= t('custom_pages.feature5') %></li>
    </ul>
    <h3><%= t('custom_pages.last_stories') %></h3>
    <% if @stories.empty? %>
      <p>No stories.</p>
    <% else %>
      <div class="row">
        <% @stories.each do |story| %>
          <div class="index_stories col-lg-3 col-sm-12">
            <p><strong><%= link_to story.title, story_prelude_path(story) %></strong></p>
            <%= image_tag story.cover(:thumbnail) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
