<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Dungeons Masters</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t('menu.my_profile'), profile_path(current_user) if current_user %></li>
        <li><%= link_to t('menu.new_story'), new_story_path %></li>
      </ul>
      <%= form_tag search_result_stories_path, method: :get do %>
        <div class="navbar-form navbar-left">
          <%= text_field_tag :search, params[:search], class: "navbar-search" %>&nbsp;
          <%= submit_tag t('menu.search'), class: "btn btn-primary", name: nil %>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class='navbar-link' data-toggle='dropdown'>
              <%= current_user.name %> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('menu.edit_account'), edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            </ul>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class: 'navbar-link'  %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>